In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
brand = pd.read_csv(r'/content/brand.csv')
color = pd.read_csv(r'/content/color.csv')
size = pd.read_csv(r'/content/size.csv')
products = pd.read_csv(r'/content/products.csv')

In [ ]:
brand = brand.drop(columns='Unnamed: 0')
color = color.drop(columns='Unnamed: 0')
size = size.drop(columns='Unnamed: 0')
products = products.drop(columns='Unnamed: 0')

In [ ]:
size_shoes_1 = size.iloc[7:].to_numpy()
size_clothes_1 = size.iloc[0:7].to_numpy()

In [ ]:
dict_size_shoes = {
    size_shoes_1[i][0]: size_shoes_1[i] for i in range(len(size_shoes_1))
}

size_shoes = list(dict_size_shoes.keys())

dict_size_clothes = {
    size_clothes_1[i][0]: size_clothes_1[i] for i in range(len(size_clothes_1))
}

size_clothes = list(dict_size_clothes.keys())

In [ ]:
id = [
    i for i in range(1, 1489)
]

brand_id = [
    random.randint(1, 61) for _ in range(1, 1489)
]

color_id = [
    random.randint(1, 21) for _ in range(1, 1489)
]

product_id = [
    random.randint(1, 1001) for _ in range(1, 1489)
]

  #   size_id.append(random.choice(list(dict_size_shoes.keys())))
  # else:
  #   size_id.append(random.choice(list(dict_size_clothes.keys())))

In [ ]:
df = pd.DataFrame(
    {
        'id': id,
        'product_id': product_id,
        'color_id': color_id,
        'brand_id': brand_id
    },
    index = [i for i in range(1, 1489)]
)

In [ ]:
df1 = df.merge(products, left_on='product_id', right_on='id')

In [ ]:
df1

,id_x,product_id,color_id,brand_id,id_y,category_id,name,cost
0,1,472,17,54,472,3,Шапка ZIP DUO BLUE,880
1,44,472,1,56,472,3,Шапка ZIP DUO BLUE,880
2,1124,472,10,3,472,3,Шапка ZIP DUO BLUE,880
3,2,479,5,57,479,3,Рюкзак SECURIPAK,26972
4,771,479,10,20,479,3,Рюкзак SECURIPAK,26972
...,...,...,...,...,...,...,...,...
1483,1468,382,4,52,382,2,Кроссовки Liberate Nitro,19293
1484,1469,721,15,8,721,3,Сумка BLACK SQUARE,6354
1485,1472,599,12,25,599,2,Ботинки AQUET,17552
1486,1479,163,12,19,163,3,Кольцо,24187
1487,1482,360,21,52,360,2,Кроссовки LX2200,2958

In [ ]:
for_category_2 = [random.choice(size_shoes) for _ in range(1, 1489)]
for_category_else = [random.choice(size_clothes) for _ in range(1, 1489)]

df1['size_id'] = np.where(df1.category_id == 2, for_category_2, for_category_else)

In [ ]:
df1

,id_x,product_id,color_id,brand_id,id_y,category_id,name,cost,size_id
0,1,472,17,54,472,3,Шапка ZIP DUO BLUE,880,5
1,44,472,1,56,472,3,Шапка ZIP DUO BLUE,880,4
2,1124,472,10,3,472,3,Шапка ZIP DUO BLUE,880,2
3,2,479,5,57,479,3,Рюкзак SECURIPAK,26972,3
4,771,479,10,20,479,3,Рюкзак SECURIPAK,26972,3
...,...,...,...,...,...,...,...,...,...
1483,1468,382,4,52,382,2,Кроссовки Liberate Nitro,19293,17
1484,1469,721,15,8,721,3,Сумка BLACK SQUARE,6354,3
1485,1472,599,12,25,599,2,Ботинки AQUET,17552,12
1486,1479,163,12,19,163,3,Кольцо,24187,3
1487,1482,360,21,52,360,2,Кроссовки LX2200,2958,12

In [ ]:
characteristics = df1.drop(columns=['id_x', 'id_y', 'category_id', 'name', 'cost'])

In [ ]:
len(characteristics)

1488

In [ ]:
characteristics['id'] = [i for i in range(1, 1489)]

In [ ]:
characteristics

      product_id  color_id  brand_id  size_id    id
0            472        17        54        5     1
1            472         1        56        4     2
2            472        10         3        2     3
3            479         5        57        3     4
4            479        10        20        3     5
...          ...       ...       ...      ...   ...
1483         382         4        52       17  1484
1484         721        15         8        3  1485
1485         599        12        25       12  1486
1486         163        12        19        3  1487
1487         360        21        52       12  1488

[1488 rows x 5 columns]

In [ ]:
characteristics = characteristics[['id', 'product_id', 'color_id', 'brand_id', 'size_id']]

In [ ]:
characteristics.to_csv('characteristics.csv')