In [ ]:
import pandas as pd
import numpy as np
import random
from datetime import timedelta
import datetime

In [ ]:
products = pd.read_csv(r'/content/products.csv')

In [ ]:
products = products.drop(columns='Unnamed: 0')

In [ ]:
pickup_point_df = pd.read_csv(r'/content/pickup_point.csv')

In [ ]:
pickup_point_df = pickup_point_df.drop(columns='Unnamed: 0')

In [ ]:
pickup_point_df.head(2)

,id,address,number_phone,time_start,time_end
0,1,"п. Улан-Удэ, бул. Клубный, д. 4/4, 041656",+7 020 723 6203,2020-11-14,2020-11-16
1,2,"д. Орел, алл. Зои Космодемьянской, д. 13 к. 8,...",+7 (803) 128-03-68,2022-02-08,2022-02-17

In [ ]:
pickup_point_df['time_start'] = pd.to_datetime(pickup_point_df['time_start'])
pickup_point_df['time_end'] = pd.to_datetime(pickup_point_df['time_end'])

In [ ]:
pickup_point_df

,id,address,number_phone,time_start,time_end
0,1,"п. Улан-Удэ, бул. Клубный, д. 4/4, 041656",+7 020 723 6203,2020-11-14,2020-11-16
1,2,"д. Орел, алл. Зои Космодемьянской, д. 13 к. 8,...",+7 (803) 128-03-68,2022-02-08,2022-02-17
2,3,"д. Лянтор, алл. Широкая, д. 2/9 к. 6/3, 810335",8 (907) 864-07-27,2020-03-14,2020-03-21
3,4,"ст. Назрань, наб. Каштановая, д. 564, 410092",+7 (137) 056-1626,2021-06-29,2021-07-07
4,5,"д. Губаха, ш. Рязанское, д. 82 стр. 579, 513322",88642684816,2021-08-24,2021-08-30
...,...,...,...,...,...
95,96,"клх Кондопога, ул. Республиканская, д. 48 к. 9...",87391880900,2022-05-25,2022-05-31
96,97,"г. Ханты-Мансийск, бул. Глинки, д. 954, 052135",8 967 305 06 93,2020-02-08,2020-02-16
97,98,"д. Клин, алл. Крупской, д. 210 стр. 8, 675502",8 (919) 149-62-43,2021-08-28,2021-08-29
98,99,"д. Невьянск, пр. Володарского, д. 376, 773599",+7 268 350 2676,2021-04-17,2021-04-21
99,100,"ст. Урус-Мартан, алл. Родниковая, д. 86, 499107",+7 640 432 69 25,2022-06-08,2022-06-17

In [ ]:
id = [
    i for i in range(1, 101)
]

order_id = [
    random.randint(1, 401) for _ in range(1, 101)
]

pickup_point = [
    random.randint(1, 101) for _ in range(1, 101)
]

lst_cost = products.cost.apply(lambda x: int(str(x)[0:len(x) - 4])).to_numpy()

delivery_cost = [ 
    lst_cost[i] + random.randint(500, 1000) for i in range(1, 101)
]


lst = (pickup_point_df.time_end - pickup_point_df.time_start).dt.days.to_numpy()

date_delivery = [
    lst[i] for i in range(len(lst))
]

In [ ]:
delivery = pd.DataFrame(
    {
        'id': id,
        'order_id': order_id,
        'pickup_point': pickup_point,
        'delivery_cost': delivery_cost,
        'date_delivery': date_delivery
    },
    index = [i for i in range(1, 101)]
)

In [ ]:
delivery

      id  order_id  pickup_point  delivery_cost  date_delivery
1      1       180            15          13859              2
2      2       103            12           4126              9
3      3        86            32          16965              7
4      4        23            75          23574              8
5      5       358            85           6114              6
..   ...       ...           ...            ...            ...
96    96        74            64          14058              6
97    97       199            23          19803              8
98    98        30            46          26651              1
99    99        54            68          27345              4
100  100       339             5          17502              9

[100 rows x 5 columns]

In [ ]:
delivery.to_csv('delivery.csv')