In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
client = pd.read_csv(r'/content/сlient.csv')

In [ ]:
products = pd.read_csv(r'/content/products.csv')

In [ ]:
client = client.drop(columns='Unnamed: 0')

In [ ]:
products = products.drop(columns='Unnamed: 0')

In [ ]:
client

      id     surname       name  patronymic       number_phone
0      1    Оглоухов       Олег    Игоревич       +74007390262
1      2  Прасовский      Клара   Романович   8-(571)-454-1965
2      3     Потемин  Валентина  Богдановна    +7-264-176-4787
3      4     Петешев      Федор  Евгеньевна       +74657398705
4      5       Махов     Ксения    Егоровна   +7-045-399-75-42
..   ...         ...        ...         ...                ...
145  146     Горышев     Любовь  Викторович   +7-874-208-54-10
146  147      Окаева      Алиса  Василиевич  +7-(619)-894-8092
147  148  Голотынина       Илья   Романовна       +73820834746
148  149   Евграфьев    Герасим  Георгиевич     8-869-968-9456
149  150   Теравская      Елена   Вадимович        80842866062

[150 rows x 5 columns]

In [ ]:
products

,id,category_id,name,cost
0,1,1,Водолазка из экстратонкой мериносовой шерсти,9505 руб
1,2,1,Джинсы Oregon Straight,12919 руб
2,3,1,Брюки спортивные BUCKINGHAM,3444 руб
3,4,3,Сумка MAN COSMO MINI CROSSBODY,16024 руб
4,5,1,Брюки утепленные Royce Peak™ Heat Pant,22947 руб
...,...,...,...,...
1483,1484,3,Балаклава Microfiber Balaclava,28062 руб
1484,1485,3,Рюкзак PUMA Deck Backpack,24559 руб
1485,1486,2,Лоферы полнота F (6),17714 руб
1486,1487,1,Носки 7 пар,19079 руб
1487,1488,2,Кроссовки Royal Glide,13924 руб

In [ ]:
id = [i for i in range(1, 401)]

In [ ]:
rating = [1, 2, 3, 4, 5]

rate = [random.choice(rating) for _ in range(1, 401)]

In [ ]:
product_id = [
    random.randint(1, 1489) for _ in range(1, 401)
]

In [ ]:
client_id = [
    random.randint(1, 149) for _ in range(1, 401)
]

In [ ]:
reviews = pd.DataFrame(
    {
        'id': id, 
        'client_id': client_id,
        'product_id': product_id,
        'rate': rate
    },
    index = [i for i in range(1, 401)]
)

In [ ]:
reviews

      id  client_id  product_id  rate
1      1        104         650     5
2      2         87          52     4
3      3         57         122     2
4      4         97         800     4
5      5        138        1250     3
..   ...        ...         ...   ...
396  396        134         380     4
397  397         28         908     3
398  398         97         406     5
399  399        120         793     2
400  400         18         134     1

[400 rows x 4 columns]

In [ ]:
res = reviews.merge(client, left_on='client_id', right_on='id')

NameError: ignored

In [ ]:
res

,id_x,client_id,product_id,rate,id_y,surname,name,patronymic,number_phone
0,1,129,204,5,129,Хромина,Владимир,Павлович,8-796-242-22-92
1,197,129,1356,2,129,Хромина,Владимир,Павлович,8-796-242-22-92
2,214,129,1045,5,129,Хромина,Владимир,Павлович,8-796-242-22-92
3,388,129,1237,4,129,Хромина,Владимир,Павлович,8-796-242-22-92
4,2,39,1174,5,39,Уленяхин,Ольга,Петровна,8-(866)-548-15-71
...,...,...,...,...,...,...,...,...,...
394,387,93,1114,2,93,Агафьева,Игорь,Евгеньевна,+7-(186)-415-5802
395,345,12,171,3,12,Ромикова,Альберт,Антонович,8-(655)-293-24-04
396,351,117,1201,3,117,Пайтерова,Александр,Вадимович,8-672-540-6550
397,354,100,71,3,100,Шленова,Ирина,Яковлевна,+7-(385)-311-29-47
398,366,135,1163,4,135,Сабитова,Эдуард,Яковлевна,8-195-930-7181

In [ ]:
result = res.merge(products, left_on='product_id', right_on='id')

In [ ]:
reviews.to_csv('reviews.csv')